/************ COLORS ***********/

$text-alt: #acb2b8;
$text-color: #fff;
$bg-header: #171a21;
$bg-jumbo: #0c0d10;
$bg-main-bottom: #424b5a;
$bg-footer: #171a21;
$discount-bg: #4b6c26;
$discount-text: #b8eb23;
$jumbo-nav: #1c3879;

/************** COMMON **********/

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, ul , li {
    padding: 0;
    margin: 0;
}