@use './partials/reset.scss';
@use './partials/variables.scss';
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: #022d30;
    color: #a2ce4c;
}

.ms-card {
    height: 350px;
}